[Unit]
Description=goapp
After=network.target
ConditionPathExists={{ansible_env.PWD}}/goprojects/src/main

[Service]
User=goapp
Group=goapp
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory={{ansible_env.PWD}}/goprojects/src
ExecStart={{ansible_env.PWD}}/goprojects/src/main

[Install]
WantedBy=multi-user.target