[Unit]
Description=goapp
After=network.target
ConditionPathExists={{ansible_env.PWD}}/goprojects/src/main

[Service]
Type=simple
Restart=always
RestartSec=5s
Environment=GOPATH={{ansible_env.GOPATH}}
WorkingDirectory={{ansible_env.PWD}}/goprojects/src
ExecStart={{ansible_env.PWD}}/goprojects/src/main

[Install]
WantedBy=multi-user.target